@import "./variables";
@import "./mixins";

.page_header {
    position: absolute;
    margin: 0 auto;
    z-index: 9999999999;
    width: 100%;
    transition: 0.3s transform;
    transform: translateY(-100%);

    .header_container {
        display: flex;
        align-items: center;
        padding: 0 20px;
        background: $white;
        position: relative;
        height: 70px;
        border-radius: 30px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -0.7em;
            left: -0.7em;
            width: calc(100% + 1.4em);
            height: calc(100% + 1.4em);
            background: rgb($white , 20%);
            z-index: -1;
            border-radius: 50px;
        }
    }

    .menu_image {
        display: none;
    }

    .menu_container_inner {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .menu_container {
        width: 100%;
        display: flex;
        align-items: center;
        height: 100%;
    }

    .hamburger-react {
        display: none;
    }

    .main_logo {
        max-width: 187px;
        width: 100%;
        height: 100%;

        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .header_list {
        margin-left: auto;
        display: flex;
        max-width: fit-content;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        position: relative;
        right: -20px;

        li {
            margin-right: 40px;
        }

        a {
            font-size: 14px;
        }
    }

    .call_btn {
        min-width: 70px;
        height: 100%;
        background: $siteColor;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: -20px;
        transition: 0s all;
        border-radius: 0 33px 33px 0;

        svg {
            color: $white;
        }
    }

    &.header_center_mode {
        transform: translateY(0) !important;
        padding-top: 32px;

        .header_container {
            border-radius: 50px;
        }
    }

    &.header_inline_mode {
        position: fixed;
        top: 0;
        width: 100%;
        padding-top: 0;
        background: $white;
        transform: translateY(0);
        box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 10%);

        .header_container {
            border-radius: 0px;

            &:before {
                opacity: 0;
            }
        }

        .call_btn {
            border-radius: 0;
        }
    }

    &.header_inline_hide {
        transform: translateY(-110%) !important;
        box-shadow: none;
    }

    @media (max-width: 1440px) {
        .main_logo {
            max-width: 160px;
        }

        .header_container {
            height: 65px;
        }
    }

    @media (max-width: 1199px) {
        .main_logo {
            max-width: 160px;
        }

        .header_list li {
            margin-right: 30px;
        }

        .call_btn {
            min-width: 60px;
        }
    }

    @media (max-width: 991px) {
        .hamburger-react {
            display: block;
            margin-top: 10px;
            margin-left: 20px;
        }

        .header_container {
            align-items: flex-start;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }

        .main_logo {
            transition: 0.5s;
            opacity: 1;
        }

        &.header_center_mode,
        &.header_inline_mode {
            padding: 0;

            .header_container {
                border-radius: 0;

                &:before {
                    display: none;
                }
            }

            .menu_container {
                position: relative;
                width: 320px;
                min-height: 100vh;
                background: $white;
                margin-left: -370px;
                max-height: none;
                height: 100%;
                transition: 0.5s;
                top: 0;
                border-radius: 0;
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            }

            .header_list {
                flex-direction: column;
            }

            .menu_container_inner {
                flex-direction: column;
                overflow-x: auto;
                padding-bottom: 50px;
            }
        }

        .header_inner {
            background: $white;
        }

        .call_btn {
            display: none;
        }

        .header_list {
            right: 0;
            width: 100%;
            margin-left: 0;
            align-items: flex-start;
            min-width: 100%;
            padding: 0 20px;
            li{
                margin-right: 0;
                padding-bottom: 13px;
                margin-bottom: 13px;
                width: 100%;
                &:not(:last-child){
                    border-bottom: 1px solid #dddddd;
                }
                a{
                    width: 100%;
                    display: block;
                }
            }
        }

        .menu_image {
            display: flex;
            padding: 30px 20px;
            align-items: center;
            justify-content: center;
            max-width: 200px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
    @media (max-width: 575px) {
        .main_logo{
            flex: 1;
        }
    }
}

.menu-opened .page_header {

    &.header_center_mode,
    &.header_inline_mode {
        .menu_container {
            position: relative;
            margin-left: -40px;
        }

        .main_logo {
            opacity: 0;
        }
    }

}