@import "./variables";
@import "./mixins";

.page_header{
    position: relative;
    padding-top: 32px;
    .header_container{
        display: flex;
        align-items: center;
        padding: 0 20px;
        background: $white;
        position: relative;
        border-radius: 50px;
        height: 70px;
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: -0.7em;
            left: -0.7em;
            width: calc(100% + 1.4em);
            height: calc(100% + 1.4em);
            background: rgb(255 255 255 / 20%);
            z-index: -1;
            border-radius: 50px;
        }
    }
    .main_logo{
        max-width: 187px;
        width: 100%;
        height: 100%;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    .header_list{
        margin-left: auto;
        padding-left: 40px;
        display: flex;
        width: 100%;
        align-items: center;
        position: relative;
        right: -20px;
        li{
            margin-right: 50px;
        }
        a{
            font-size: 14px;
        }
    }
    .call_btn{
        min-width: 70px;
        height: 100%;
        background: #c9175f;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: -21px;
        border-radius: 0 50px 50px 0;
        svg{
            color: $white;
        }
    }
}