@import "./assets/scss/variables";
@import "./assets/scss/mixins";

.custom_container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  padding: 0;
  margin: 0;
}

.main-content {
  height: 400px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent !important;
  box-sizing: border-box;
}

.uk-navbar-nav {
  gap: 0 !important;
}

body {
  background: $white;
  position: relative;
  min-height: 100vh;
  color: $siteColor;
  font-family: $regular;
  min-height: 100vh;
  touch-action: manipulation;

  &.menu-opened {
    overflow: hidden;
  }
}

a {
  color: $siteColor;
  transition: 0.3s;
  outline: none !important;
  text-decoration: none;
  text-transform: none !important;

  &:hover {
    text-decoration: none !important;
    opacity: 0.7;
    outline: none !important;
  }
}


.error-info {
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  padding: 0;
  margin: 0;
  right: 0px;
  font-size: 14px;
  color: #FB4242;
  bottom: -22px;
}


.has-error input,
.has-error .textarea_input,
.has-error .css-13cymwt-control,
.has-error .css-t3ipsp-control {
  border: 2px solid #FB4242 !important;
}

.has-error .input-group-text {
  border: 2px solid #FB4242 !important;
  border-right: none !important;
}

.has-error .error-info {
  opacity: 1;
}

.title_wrapper {
  position: relative;
  margin: 32px 0;

  .section_title {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #c9175f;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .main_title {
    color: #0d325e;
    font-size: 48px;
    line-height: 54px;
    margin-top: 17px;
    font-weight: 600;
    position: relative;
    left: -1px;
  }

  .main_description {
    font-size: 18px;
    line-height: 22px;
    margin-top: 24px;
    color: #777a73;
  }

  .background_title {
    letter-spacing: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: -7px;
    font-size: 108px;
    line-height: 113px;
    z-index: -1;
    color: #f7f7f7;
  }

  &.center_mode {
    text-align: center;

    .background_title {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.site_btn {
  padding: 0 25px;
  width: fit-content;
  cursor: pointer;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase !important;
  letter-spacing: 0.5px;
  color: $white;
  font-family: $bold !important;
  background: $siteColor;
  margin-top: 15px;
  border-radius: 25px;
  position: relative;

  span {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 2px solid rgba($white, 0.8);
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: center;

    &:before {
      display: block;
      font-size: 16px;
      font-family: 'icomoon' !important;
      position: relative;
      left: -3px;
      transition: 0.3s;
    }
  }

  &:hover {
    opacity: 0.9;

    span::before {
      left: 10px;
    }
  }
}

@media (max-width: 1440px) {
  .title_wrapper {
    .main_title {
      font-size: 32px;
      line-height: 36px;
      margin-top: 17px;
    }

    .main_description {
      font-size: 16px;
      line-height: 20px;
      max-width: 600px;
      margin-top: 15px;
    }

    .background_title {
      font-size: 80px;
      line-height: 97px;
    }

    &.center_mode {
      .main_description {
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 991px) {
  .title_wrapper {
    margin: 20px 0;

    .section_title {
      font-size: 14px;
      line-height: 18px;
    }

    .main_title {
      font-size: 26px;
      line-height: 30px;
      margin-top: 15px;
    }

    .main_description {
      font-size: 14px;
      line-height: 18px;
      max-width: 500px;
      margin-top: 10px;
    }

    .background_title {
      font-size: 68px;
      line-height: 83px;
    }
  }
}

@media (max-width: 575px) {
  .title_wrapper {
    .section_title {
      font-size: 12px;
      line-height: 16px;
    }

    .main_title {
      font-size: 20px;
      line-height: 24px;
      margin-top: 10px;
    }

    .main_description {
      font-size: 12px;
      line-height: 19px;
    }

    .background_title {
      font-size: 49px;
      line-height: 66px;
    }
  }

  .site_btn {
    padding: 0 20px;
    height: 40px;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 0.4px;
    margin-top: 15px;
  }
}


// #mySvg {
//   transition: 0.5s;
//   .cls1 {
//     opacity: 0.2;
//   }
//   .cls2{
//     z-index: 99;
//     position: relative;
//   }
//   path {
//     transition: d 500ms;
//   }
//   #path1{
//     transition: d 500ms;
//     animation: draw1 3s ease;
//     animation-iteration-count: infinite;
//   }

//   #path4{
//     // transition: d 500ms;
//     animation: draw4 4s ease-out;
//     animation-iteration-count: infinite;
//   }

// }

// @keyframes draw1 {
//   0% {
//     d: path("M162.6 915.1c-13 0-27.4-1.7-43.2-5.7-98-25.1-126.3-53-127.5-54.2l-3.2-3.3V223.9l2.4-3.1c1.1-1.4 11.2-13.4 32.5-13.4.2 0 .4 0 .6 0 38 .4 85.5 38 141.2 111.8.9 1 12.5 14.4 34.4 23.1 30.4 12 65.6 9.7 104.5-6.9l.2-.1c1.6-.7 18.6-8.8 29.3-35.9 10.7-26.9 16.8-77.9-14.6-168l-.3-.9c-.6-2.3-14.4-57.1 16.4-94.3C355.2 12.3 388 1.8 432.9 4.8c4.4.1 37.1 2.1 74.2 32.1 22.4 18 42 42.6 58.3 73.1 20.1 37.4 35.3 84 45.2 138.5l.2.9 0 .2c.2 1.4 2 9.3 12.3 17.8 11.2 9.3 34.4 20.8 81.6 23l1.2.1 1.2.3c1.5.4 36.5 10.4 57.6 47.9 18.7 33.1 20.6 76.4 5.8 128.5l-.2.5-.2.5c-.1.2-8.8 22.9-8.1 51.2 1 36.5 16.7 64.9 46.8 84.6l.8.6.7.7c2.1 2 52.4 50.2 40 98.4-7.7 29.9-37 51.8-87.2 65-4.5 1.2-28.4 5.4-117.3-8.1l-.5-.1c-2.1-.4-31.6-4.8-64.5 26.8-38.7 37.2-65.2 41.7-70 42.2-6 .9-55.2 5.6-117.6-53.1-14.7-13.8-28.8-19-43.3-15.9-36.5 8-68.2 68.4-77.3 91l-.3.7c-.4.9-10.9 22.1-35.1 39.6C221.3 903.5 196.7 915.1 162.6 915.1zM11.3 841.8c9.5 7.1 40.7 26.9 113.7 45.5 38.7 9.9 71.7 5.4 98.2-13.3 18.6-13.2 27.5-29.2 28.7-31.5 3.3-8 39.1-92.3 93.3-104.2 22-4.8 43.4 2.4 63.7 21.5 55.3 52.1 97 47.5 98.8 47.2l.8-.2.2 0c2.1-.3 23.8-4.4 56.6-36 40.7-39.2 79.8-33.6 84.4-32.8 82.4 12.5 105.1 9.1 107.7 8.6l.4-.1-.2.1c41.7-10.9 65.6-27.3 71.1-48.6 8.4-32.8-27.7-70.4-33-75.7-35.8-23.8-55.2-59.5-56.1-103.2-.6-30.3 7.9-54.5 9.4-58.6C781.9 344 712.2 316.3 702.2 313c-44.1-2.3-76.4-12.5-96.1-30.3-14.8-13.4-17.4-26.8-17.9-30.6C547.8 30.7 433.4 27.5 432.3 27.5l-.7 0c-37.3-2.6-63.8 5.2-78.7 23.1-22.3 26.8-13.1 69.3-12.1 73.8 27.5 78.9 31.9 141.4 13.1 185.8-14.4 34-37.8 44.8-40.7 46l0 0c-56.2 24-98 16.8-123 6.6-27.7-11.3-41.9-28.8-42.5-29.5l-.2-.2C81.2 245.2 42.4 230.8 25.1 230.1c-6.8-.3-11.2 1.5-13.8 3V841.8zM757.2 746.9 757.2 746.9 757.2 746.9zM610.8 249.4C610.8 249.4 610.8 249.4 610.8 249.4 610.8 249.4 610.8 249.4 610.8 249.4zM298 226.9c0 33.9-22.2 65.7-52 65.7-33.5 0-64.2-28.4-64.2-62.3s22.7-64 56.2-64S298 193 298 226.9z");
//   }

//   50% {
//     d: path("M231.4 179c-33.7.3-57.7 31-62.7 62.8-7 44.6 22 99.2 71 97.2 29 0 52-23.8 62-48.6 13-28.8 6-64.5-17-86.9C270.2 188.6 250.9 178.8 231.4 179zM239.7 328.8c-30.9 1.2-52.9-25.6-59.9-53.3-9-34.7 8-80.4 47-84.3 31-4 59 19.8 68 49.6 7 22.8 3 48.6-14.1 65.7C270 319 255.4 327.8 239.7 328.8zM807.9 601.7c-47.1-36.5-41.1-94.1-21.9-143.9 2.6-10.5 5-20.9 6.6-31.3 2.4-15.6 3.2-31.2.8-46.6s-8.1-30.8-18.6-45.9c-25-41.7-77-45.6-119-61.5-14-5-21-20.8-20-35.7 5-68.5 19-151.8-50-196.4s-158-55.6-228-15.9C340.3 34.9 328 50 321.4 67.3s-7.6 36.6-2.6 55.4c19 68.4 44 145.8 3 213.3-25 42.7-84 56.5-127 33.7-20-9.9-34-27.8-49-46.6-23-31.7-41-63.5-70-90.3-21-18.8-51-26.8-75-14.9-2 1-1 6.9-1 10.9 32-14.9 64 4 85 28.8 42 49.6 68 124 139 131.9 41 4 86-9.9 108-47.6 40.2-63.9 33.4-143.5 8.6-208.9-2.9-10.5-7.4-20.2-8-30.7-.5-10.5-2.4-19.4 1.3-30.3 3.5-10.7 9.2-19.6 16.4-27 7.2-7.4 15.9-13.3 25.5-18C448.8-5.3 536.6 9 594.6 67.5c49 48.6 26.6 108 20.7 166.5-6.4 63.2 69.9 68.5 110.9 81.3 7 3 15.6 8.2 21.2 11.7 10.1 7.8 16.4 14.8 21.6 25.8 10.4 22 14.9 45.7 11.8 73.5-1.6 13.9-12.9 25.4-16.3 38.7-22.3 46.1-11.7 99.2 27.3 135.9 37 32.7 74.1 92.6 15.1 126.4-60 34.7-110.1-12.3-169.1-27.2-53-12.9-75 40.7-100 77.4-11 15.9-27.3 27-44.9 30.9-18.1 3.8-40.1 1.5-50.1-13-38.3-55.9-128.8-110-177.8-36.6-26 38.7-30.9 85.3-72.9 110.1-62 34.7-137.3 13.8-192.3-20.9 0 5-2 12.9 1 14.9 32 24.8 69 35.7 109 40.7 30 3 61 0 88-14.9 48-26.8 53-82.3 86-124 25-30.8 71-30.8 98-4 39 37.7 97 94.2 147.6 43.9 10.7-9.2 20.3-20.6 29-32.8 8.7-12.2 16.4-25 23.4-36.9 16-25.8 48-23.8 73-14.9 52 19.8 110 57.5 166 25.8 37-21.8 44-71.4 19.2-104.1C831 627.8 819.2 614.7 807.9 601.7z");
//   }

//   100% {
//     d: path("M162.6 915.1c-13 0-27.4-1.7-43.2-5.7-98-25.1-126.3-53-127.5-54.2l-3.2-3.3V223.9l2.4-3.1c1.1-1.4 11.2-13.4 32.5-13.4.2 0 .4 0 .6 0 38 .4 85.5 38 141.2 111.8.9 1 12.5 14.4 34.4 23.1 30.4 12 65.6 9.7 104.5-6.9l.2-.1c1.6-.7 18.6-8.8 29.3-35.9 10.7-26.9 16.8-77.9-14.6-168l-.3-.9c-.6-2.3-14.4-57.1 16.4-94.3C355.2 12.3 388 1.8 432.9 4.8c4.4.1 37.1 2.1 74.2 32.1 22.4 18 42 42.6 58.3 73.1 20.1 37.4 35.3 84 45.2 138.5l.2.9 0 .2c.2 1.4 2 9.3 12.3 17.8 11.2 9.3 34.4 20.8 81.6 23l1.2.1 1.2.3c1.5.4 36.5 10.4 57.6 47.9 18.7 33.1 20.6 76.4 5.8 128.5l-.2.5-.2.5c-.1.2-8.8 22.9-8.1 51.2 1 36.5 16.7 64.9 46.8 84.6l.8.6.7.7c2.1 2 52.4 50.2 40 98.4-7.7 29.9-37 51.8-87.2 65-4.5 1.2-28.4 5.4-117.3-8.1l-.5-.1c-2.1-.4-31.6-4.8-64.5 26.8-38.7 37.2-65.2 41.7-70 42.2-6 .9-55.2 5.6-117.6-53.1-14.7-13.8-28.8-19-43.3-15.9-36.5 8-68.2 68.4-77.3 91l-.3.7c-.4.9-10.9 22.1-35.1 39.6C221.3 903.5 196.7 915.1 162.6 915.1zM11.3 841.8c9.5 7.1 40.7 26.9 113.7 45.5 38.7 9.9 71.7 5.4 98.2-13.3 18.6-13.2 27.5-29.2 28.7-31.5 3.3-8 39.1-92.3 93.3-104.2 22-4.8 43.4 2.4 63.7 21.5 55.3 52.1 97 47.5 98.8 47.2l.8-.2.2 0c2.1-.3 23.8-4.4 56.6-36 40.7-39.2 79.8-33.6 84.4-32.8 82.4 12.5 105.1 9.1 107.7 8.6l.4-.1-.2.1c41.7-10.9 65.6-27.3 71.1-48.6 8.4-32.8-27.7-70.4-33-75.7-35.8-23.8-55.2-59.5-56.1-103.2-.6-30.3 7.9-54.5 9.4-58.6C781.9 344 712.2 316.3 702.2 313c-44.1-2.3-76.4-12.5-96.1-30.3-14.8-13.4-17.4-26.8-17.9-30.6C547.8 30.7 433.4 27.5 432.3 27.5l-.7 0c-37.3-2.6-63.8 5.2-78.7 23.1-22.3 26.8-13.1 69.3-12.1 73.8 27.5 78.9 31.9 141.4 13.1 185.8-14.4 34-37.8 44.8-40.7 46l0 0c-56.2 24-98 16.8-123 6.6-27.7-11.3-41.9-28.8-42.5-29.5l-.2-.2C81.2 245.2 42.4 230.8 25.1 230.1c-6.8-.3-11.2 1.5-13.8 3V841.8zM757.2 746.9 757.2 746.9 757.2 746.9zM610.8 249.4C610.8 249.4 610.8 249.4 610.8 249.4 610.8 249.4 610.8 249.4 610.8 249.4zM298 226.9c0 33.9-22.2 65.7-52 65.7-33.5 0-64.2-28.4-64.2-62.3s22.7-64 56.2-64S298 193 298 226.9z");
//   }
// }


.main_slider{
  .wave_block {
    bottom: -50px;
  }
}
.wave_block {
  height: 300px;
  position: absolute;
  z-index: 99;
  width: 100%;
  >div{
    height: 100%;
    width: 100%;
  }
}
.wave_opacity{
  position: absolute;
  top: -15px;
  z-index: 999;
 >div{
  height: 100%;
  } 
}