@import "./assets/scss/variables";
@import "./assets/scss/mixins";

.custom_container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  padding: 0;
  margin: 0;
}

.main-content {
  height: 400px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent !important;
  box-sizing: border-box;
}

.uk-navbar-nav {
  gap: 0 !important;
}

body {
  background: $white;
  position: relative;
  min-height: 100vh;
  color: $siteColor;
  font-family: $regular;
  min-height: 100vh;
  touch-action: manipulation;

  &.menu-opened {
    overflow: hidden;
  }
}

a {
  color: $siteColor;
  transition: 0.3s;
  outline: none !important;
  text-decoration: none;
  text-transform: none !important;

  &:hover {
    text-decoration: none !important;
    opacity: 0.7;
    outline: none !important;
  }
}


.error-info {
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  padding: 0;
  margin: 0;
  right: 0px;
  font-size: 14px;
  color: #FB4242;
  bottom: -22px;
}


.has-error input,
.has-error .textarea_input,
.has-error .css-13cymwt-control,
.has-error .css-t3ipsp-control {
  border: 2px solid #FB4242 !important;
}

.has-error .input-group-text {
  border: 2px solid #FB4242 !important;
  border-right: none !important;
}

.has-error .error-info {
  opacity: 1;
}

.title_wrapper {
  position: relative;
  margin: 32px 0;

  .section_title {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #c9175f;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .main_title {
    color: #0d325e;
    font-size: 48px;
    line-height: 54px;
    margin-top: 17px;
    font-weight: 600;
    position: relative;
    left: -1px;
  }

  .main_description {
    font-size: 18px;
    line-height: 22px;
    margin-top: 24px;
    color: #777a73;
  }

  .background_title {
    letter-spacing: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: -7px;
    font-size: 108px;
    line-height: 113px;
    z-index: -1;
    color: #f7f7f7;
  }

  &.center_mode {
    text-align: center;

    .background_title {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}

.site_btn {
  padding: 0 25px;
  width: fit-content;
  cursor: pointer;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase !important;
  letter-spacing: 0.5px;
  color: $white;
  font-family: $bold !important;
  background: $siteColor;
  margin-top: 15px;
  border-radius: 25px;
  position: relative;

  span {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 2px solid rgba($white, 0.8);
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: center;

    &:before {
      display: block;
      font-size: 16px;
      font-family: 'icomoon' !important;
      position: relative;
      left: -3px;
      transition: 0.3s;
    }
  }

  &:hover {
    opacity: 0.9;

    span::before {
      left: 10px;
    }
  }
}

@media (max-width: 1440px) {
  .title_wrapper {
    .main_title {
      font-size: 32px;
      line-height: 36px;
      margin-top: 17px;
    }

    .main_description {
      font-size: 16px;
      line-height: 20px;
      max-width: 600px;
      margin-top: 15px;
    }

    .background_title {
      font-size: 80px;
      line-height: 97px;
    }

    &.center_mode {
      .main_description {
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 991px) {
  .title_wrapper {
    margin: 20px 0;

    .section_title {
      font-size: 14px;
      line-height: 18px;
    }

    .main_title {
      font-size: 26px;
      line-height: 30px;
      margin-top: 15px;
    }

    .main_description {
      font-size: 14px;
      line-height: 18px;
      max-width: 500px;
      margin-top: 10px;
    }

    .background_title {
      font-size: 68px;
      line-height: 83px;
    }
  }
}

@media (max-width: 575px) {
  .title_wrapper {
    .section_title {
      font-size: 12px;
      line-height: 16px;
    }

    .main_title {
      font-size: 20px;
      line-height: 24px;
      margin-top: 10px;
    }

    .main_description {
      font-size: 12px;
      line-height: 19px;
    }

    .background_title {
      font-size: 49px;
      line-height: 66px;
    }
  }

  .site_btn {
    padding: 0 20px;
    height: 40px;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 0.4px;
    margin-top: 15px;
  }
}


#mySvg {
  transition: 0.5s;
  .cls1 {
    opacity: 0.2;
  }
  .cls2{
    z-index: 99;
    position: relative;
  }
  path {
    transition: d 500ms;
  }
  #path3{
    opacity: 0.2;
  }
  #path1{
    // transition: d 500ms;
    animation: draw2 4s ease-in-out;
    animation-iteration-count: infinite;
  }

  #path4{
    // transition: d 500ms;
    animation: draw4 4s ease-in-out;
    animation-iteration-count: infinite;
  }

}

@keyframes draw2 {
  0% {
    d: path("M737.23 202.28c-18.72 20.75-60.32 78.42-87.06 86.57s-59.58 7.57-78.2-13.27c-23.64-26.45-11.9-68.84-24.94-101.83a71.38 71.38 0 00-50.24-42.7c-28.46-6.21-59 5.55-86.91-2.62-32.35-9.45-51.15-41.82-73.76-66.81-17.45-19.29-39.43-35.52-64.82-41.2s-54.38.74-71.52 20.32c-26.59 30.37-16 75.46-19.52 116.58a115.47 115.47 0 01-6.21 30.28c-14.27 38.88-53.69 61.26-85.13 88.23-20.29 17.4-38.35 38.3-47.95 63.26s-9.8 54.41 3.84 77.41c12.06 20.34 34 34.78 40.92 57.39 10.08 32.88-15.28 64.64-33.32 93.91C29.52 605 18.68 640.23 17.62 683.85c-.83 34 6 69.56 26.83 96.53S101 818.82 134.6 813.21c89.59-15 111.72-63.73 145.43-90.87s96.51-66.34 182.33 3.27c217.13 176.15 374.78-35.05 394.08-62.84V211.27C829.25 177.2 785.17 149.14 737.23 202.28ZM369.62 733.93a80.28 80.28 0 00-9.95.43c-23.11 2.44-46.11 14.86-56.57 35.6C292 792 297.59 821 315.39 838.15c35.28 34 90.4 14.08 107.63-28.17 7.21-17.69 6-39.28-5.53-54.48C406.5 741 388 734.3 369.62 733.93Z");
  }

  50% {
    d: path("M737.23 202.28c-45.086 28.228-57.162 62.771-87.06 86.57s-66.317 11.503-78.2-13.27c-18.617-35.053-.019-72.017-24.94-101.83a71.38 71.38 0 00-68.893-27.29c-59.031 12.236-66.127 12.922-86.91-2.62-22.94-16.316-56.048-25.183-73.76-66.81-17.275-44.324-35.483-49.593-64.82-41.2s-58.989-6.888-71.52 20.32c-15.907 40.374-3.89 78.139-19.52 116.58a115.47 115.47 0 01-17.994 36.334c-34.962 42.321-36.241 63.354-85.13 88.23-39.938 22.297-31.656 41.82-47.95 63.26s-14.647 58.747 3.84 77.41c18.53 19.265 34 34.78 48.438 62.54 16.734 36.061-15.28 64.64-33.32 93.91C-.549 645.415 18.68 640.23 17.62 683.85c-.83 34-4.01 79.849 15.095 106.039S70.068 827.024 134.6 813.21c138.12-28.691 95.83-63.469 145.43-90.87s133.802-90.741 182.33 3.27c86.871 195.523 374.78-35.05 380.512-181.128V211.27C845.749 166.369 801.429 156.734 737.23 202.28ZM369.62 733.93a80.28 80.28 0 00-9.95.43c-23.11 2.44-57.608-7.812-63.965 35.515C292 792 297.59 821 308.251 846.156c18.482 42.723 81.546 27.164 107.63-28.17 9.213-25.464 6-39.28-.736-56.308C406.5 741 388 734.3 369.62 733.93Z");
  }

  100% {
    d: path("M737.23 202.28c-18.72 20.75-60.32 78.42-87.06 86.57s-59.58 7.57-78.2-13.27c-23.64-26.45-11.9-68.84-24.94-101.83a71.38 71.38 0 00-50.24-42.7c-28.46-6.21-59 5.55-86.91-2.62-32.35-9.45-51.15-41.82-73.76-66.81-17.45-19.29-39.43-35.52-64.82-41.2s-54.38.74-71.52 20.32c-26.59 30.37-16 75.46-19.52 116.58a115.47 115.47 0 01-6.21 30.28c-14.27 38.88-53.69 61.26-85.13 88.23-20.29 17.4-38.35 38.3-47.95 63.26s-9.8 54.41 3.84 77.41c12.06 20.34 34 34.78 40.92 57.39 10.08 32.88-15.28 64.64-33.32 93.91C29.52 605 18.68 640.23 17.62 683.85c-.83 34 6 69.56 26.83 96.53S101 818.82 134.6 813.21c89.59-15 111.72-63.73 145.43-90.87s96.51-66.34 182.33 3.27c217.13 176.15 374.78-35.05 394.08-62.84V211.27C829.25 177.2 785.17 149.14 737.23 202.28ZM369.62 733.93a80.28 80.28 0 00-9.95.43c-23.11 2.44-46.11 14.86-56.57 35.6C292 792 297.59 821 315.39 838.15c35.28 34 90.4 14.08 107.63-28.17 7.21-17.69 6-39.28-5.53-54.48C406.5 741 388 734.3 369.62 733.93Z");
  }
}

@keyframes draw4 {
  0% {
    d: path("M0 227.8c0 0 42-53.4 156.5 98.4 0 0 50.3 63.1 152.2 19.6 0 0 85.5-34 21.2-218.2 0 0-31.5-120.7 102.4-111.4 25.7 1.8 124.6.7 167.1 234.3 0 0 3.2 46.5 104.7 51.3 48.9.2 94.3 25.8 55.5 162.4 0 0-38 96.4 43.1 149.4 46.3 27.4 110.1 104.2-42.3 144.2 0 0-44.4 13.2-112.7-8.4-29.7-11.4-36-7.4-74.7 29.8s-63.5 39.1-63.5 39.1-46.6 8.1-108.5-50.1c-77.6-73.1-136 66.8-140 75.8s-37.4 77.3-140 51C26.1 873.8 0 847.2 0 847.2V227.8zM298 226.9c0 33.9-22.2 65.7-52 65.7-33.5 0-64.2-28.4-64.2-62.3s22.7-64 56.2-64S298 193 298 226.9z");
  }

  50% {
    d: path("M0 227.8c0 0 76.931-70.352 156.5 98.4 29.667 52.763 98.113 85.4 152.2 19.6 0 0 43.595-52.506 21.2-218.2 0 0-10.235-105.571 102.4-111.4 52.235-1.55 242.267 9.181 167.1 234.3 0 0-51.753 119.246 104.7 51.3 54.285-20.66 104.37 96.009 55.5 162.4 0 0-87.048 106.541 43.1 149.4 71.364 19.76 26.234 128.326-42.3 144.2 0 0-57.868 14.953-112.7-8.4-35.599-15.603-64.789-15.805-74.7 29.8s-63.5 39.1-63.5 39.1-95.217-3.395-108.5-50.1c-26.281-114.751-113.12 27.617-140 75.8s-48.393 120.039-140 51C39.202 830.872 0 847.2 0 847.2V227.8zM298 226.9c3.468 38.938-13.469 78.882-72.654 83.986-43.256 1.961-64.2-28.4-82.171-64.525s-3.021-62.571 56.2-64S289.586 165.111 298 226.9z");
  }

  100% {
    d: path("M0 227.8c0 0 42-53.4 156.5 98.4 0 0 50.3 63.1 152.2 19.6 0 0 85.5-34 21.2-218.2 0 0-31.5-120.7 102.4-111.4 25.7 1.8 124.6.7 167.1 234.3 0 0 3.2 46.5 104.7 51.3 48.9.2 94.3 25.8 55.5 162.4 0 0-38 96.4 43.1 149.4 46.3 27.4 110.1 104.2-42.3 144.2 0 0-44.4 13.2-112.7-8.4-29.7-11.4-36-7.4-74.7 29.8s-63.5 39.1-63.5 39.1-46.6 8.1-108.5-50.1c-77.6-73.1-136 66.8-140 75.8s-37.4 77.3-140 51C26.1 873.8 0 847.2 0 847.2V227.8zM298 226.9c0 33.9-22.2 65.7-52 65.7-33.5 0-64.2-28.4-64.2-62.3s22.7-64 56.2-64S298 193 298 226.9z");
  }
}



.page_footer{
  &::before{
    animation: move_wave 10s  linear infinite;
  }
}

.contacts_section::before {
  background-repeat: repeat-x;
  animation: move_wave 10s  linear infinite;
}

.call_section::before {
  background-repeat: repeat-x;
  animation: move_wave 10s  linear infinite;
}

.call_section::after ,    .contacts_section::after {
  background-repeat: repeat-x !important;
  animation: move_wave2 20s  linear infinite;
  background-size: 100% 100%;
}


@keyframes move_wave2 {
  0% {
    background-size: 100% 100%;
      background-position-x: 0vw;
  }
  50% {
    background-size: 200% 100%;
      background-position-x: 50vw;
  }
  100% {
      background-size: 100% 100%;
      background-position-x: 99vw;
  }
}

@keyframes move_wave {
  0% {
      background-position-x: 0vw;
      background-size: 100% 100%;
  }
  50% {
      background-position-x: 50vw;
      background-size: 150% 100%;
  }
  100% {
      background-position-x: 99vw;
      background-size: 100% 100%;
  }
}

.wave_block{
  position: relative;
  z-index: 999;
  top: -198px;
  height: 200px;
  svg{
    height: 200px;
  }
  .wave_opacity{
    width: 100%;
    position: absolute;
    bottom: 15px;
  }
}